/*========================================


Universal Styling 


===========================================*/ 
*{ 
margin: 0;  
padding: 0; 
border: 0; 
} 

.container { 
    max-width: 800px; 
    margin: 0 auto; 
    padding-top: 150pt; 
} 

h1 { 
    font-family: 'Dancing Script', cursive; 
    color: #F4F4F4; 
    text-align: center; 
    font-size: 80px; 
    letter-spacing: 8px; 
    margin-bottom: 50px; 
} 

h2 { 
    font-family: 'Dancing Script', cursive;
    font-size: 35px;  
    color: #F4F4F4; 
    padding-top: 30pt; 
    padding-left: 20pt; 
} 

h3 { 
    font-size: 50px; 
    color: #2DA2D1; 
    position: relative; 
    left: 55px; 
}

h3, 
h4, 
h5, 
h6 { 
    font-family: 'EB Garamond', serif; 
    } 

p, 
ul, 
li, 
a { 
    font-family: 'EB Garamond', serif; 
    color: #F4F4F4; 
    font-size: 19px; 
    margin-bottom: 30px; 
} 

ol { 
    list-style-type: upper-alpha; 
    list-style-type: upper-alpha; 
    position: relative; 
    top: -20px; 
    bottom: 0; 
    left: 50px; 
}  

body { 
    background-color: #146093; 
    color: #F4F4F4 
} 

header { 
    background: #121929; 
    padding-bottom: 10mm; 
    position: fixed; 
    top: 0px; 
    width: 100%; 
    z-index: 99; 
} 

nav { 
    padding-right: 30pt; 
} 

nav ul li { 
    display: inline; 
} 

nav a { 
    text-decoration: none; 
    color: #333; 
    background: #f2f2f2; 
    padding: 10px 20px; 
    transition: .5s; 
    width: 100px; 
} 
    
nav a:hover { 
    background:#2DA2D1; 
    color: #f2f2f2; 
    transition: .5s; 
} 

header h1 { 
    width: 30%; 
    display: inline-block; 
} 

header nav {  
    text-align: right; 
} 

header li { 
    display: inline-block; 
    margin: 0 40px; 
} 

main .container { 
    margin: 90px auto; 
} 

footer { 
    text-decoration: none; 
    background: #12192940; 
    text-align: center; 
    padding: 2rem; 
    margin-top: 30px;
    width: 100%; 
    z-index: 99; 
} 

/*========================  

    Image Styling 

==========================*/ 
.story-img {
    float:left;
    margin-right: 20px;
}

.abyss-book-img { 
    float:left; 
    transition: .5s; 
    margin-top: 0px; 
    margin-right: 20px; 
} 

.abyss-book-img:hover { 
    animation: movement 5s; 
} 

@keyframes movement { 
from{ 
    transform: rotateZ(0deg); 
    } 
    to { 
    transform: rotateZ(360deg); 
    } 
}

.right, 
.left {
    display: inline-block;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.left {
    vertical-align: top;
}

.right {
    padding: 20px;
    padding-top: 20px;
}

.light-blue {
    color: #2DA2D1;
}

/*======================== 


    Contact Form 

==========================*/
.contact-form {
    padding-top: 25px;
    padding-bottom: 25px;
}

.container.contact-form {    
    border-top-width: 3px;
    border-right-width: 2px;
    border-bottom-width: 3px;
    border-left-width: 2px;
    border-style: solid;
    background-color: #121929;
    text-align: center;
    max-width: 96%;
    margin-top: 55px;
  }

.left-side {
    padding-right: 50px;
    vertical-align: top;
    margin-top: 7%;
}

.right-side {
    padding-left: 50px;
    padding: 20px;
}

.right-side, .left-side {
    display: inline-block;
}


.label_input_wrap {
    display: block;
}

label {
    padding-bottom: 5px;
}

.reset input,
.submit input {
    padding: 5px 30px;
    display: inline; 
}

.reset,
.submit {
    display: inline;
}

.reset input:hover,
.submit input:hover { 
    background:#2DA2D1; 
    color: #f2f2f2; 
    transition: .5s; 
}

.input-section {
    margin-bottom: 20px;
}

input {
    padding: 8px 20px;
    border-radius: 2px;
}

/*======================== 


    Lightbox  

==========================*/
.lightbox {
    width: 200px;
}







/*======================== 


    Pseudo Elements  

==========================*/
h3 span.dark-blue {
    display: inline-block;
}

.dark-blue::first-letter {
    font-size: 60px;
    font-weight: bold;
    color: #121929; 
}

.pseudo2 p::first-letter {
    font-size: 25px;
    font-weight: bold;
    color: #121929; 
}

.pseudo1 ::marker {
    color: #121929;
    font-weight: bold;
    font-size: 20px;
  }

.pseudo1 p:nth-last-child(1):first-line {
    color: #121929;
    font-weight: bold;
    font-style: italic;
  }